[submodule "openpi"]
	path = openpi
	url = git@github.com:matthewh6/openpi.git
[submodule "LIBERO-PRO"]
	path = LIBERO-PRO
	url = git@github.com:matthewh6/LIBERO-PRO.git
[submodule "LIBERO_PRO"]
	path = LIBERO_PRO
	url = git@github.com:matthewh6/LIBERO-PRO.git
[submodule "tmrl_openpi"]
	path = tmrl_openpi
	url = git@github.com:matthewh6/tmrl_openpi.git
[submodule "ogbench"]
	path = ogbench
	url = git@github.com:matthewh6/ogbench.git
