[submodule "openpi"]
	path = openpi
	url = git@github.com:matthewh6/openpi.git
[submodule "LIBERO-PRO"]
	path = LIBERO-PRO
	url = git@github.com:matthewh6/LIBERO-PRO.git
[submodule "LIBERO_PRO"]
	path = LIBERO_PRO
	url = git@github.com:matthewh6/LIBERO-PRO.git
[submodule "dsrl_openpi"]
	path = dsrl_openpi
	url = git@github.com:jesbu1/dsrl_openpi.git
[submodule "ogbench"]
	path = ogbench
	url = git@github.com:matthewh6/ogbench.git
